# Python 3 Crash Course

Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace.

## What you'll learn...

In this notebook we'll cover the basic data types in Python...

- Strings
- Numbers
- Lists
- Dictionaries
- Booleans
- Tuples
- Sets

We'll then go on to learn some of the ways you can manipulate these data types...

- Conditionals
- Loops
- Functions

We'll focus on hands on learning with good practice in keeping our code neat and readable.

## Numbers

In [1]:
1

1

In [2]:
1.9

1.9

In [1]:
.9

0.9

In [3]:
1 + 1 - 2

0

In [4]:
9 * 10

90

In [7]:
10 / 5

2.0

In [13]:
(5 + 5) * (10 + 10)

200

We can use a float anywhere in our operation to specify that our result should be a float

In [14]:
(5 + 5) * (10.0 + 10)

200.0

In [15]:
2 ** 4

16

The modulo `%` will return the *remainder* after a division

In [19]:
4 % 2

0

## Variables

Variables store some value, we use them to pass information around. Use lower case letters, and underscores instead of spaces. This is called snake case. Keep your variables human readable and explanatory, try not to name them things like `a` and `b`.

In [21]:
a = 4

b = a + a

b

8

## Strings

Strings are sequences of characters denoted by either single or double quotes. Try to stick to single quotes.

In [22]:
'single quote'

'single quote'

In [23]:
"double quotes"

'double quotes'

In [24]:
hello = 'hello world'

In [25]:
print(hello)

hello world

In [5]:
num = 12
name = "Spencer"

print('Hello {}'.format(name))

Hello Spencer

In [30]:
print('Hello {one} {one}'.format(one=name))

Hello Spencer Spencer

Remember that strings are essentially just sequences of characters...

In [33]:
name[0]

S

In [6]:
len(name)

7

## Slicing

Slicing can be used to grab slices of a sequence of elements. Note that the first number is inclusive, the last is exclusive

In [34]:
name = 'Spencer'

name[3:]

'ncer'

In [35]:
name[:3]

'Spe'

In [36]:
name[2:4]

'en'

### Exercise

Grab the word 'world' from the sentence...

In [13]:
sentence = "Hello world"

'world'

## Lists

Remember, everything starts at 0

In [44]:
my_list = [1,2,3,4]

In [45]:
my_list

[1, 2, 3, 4]

In [46]:
my_list.append(5)

In [47]:
my_list

[1, 2, 3, 4, 5]

In [49]:
my_list[4]

5

In [50]:
my_list[1:3]

[2, 3]

In [51]:
my_list[0] = 42

In [52]:
my_list

[42, 2, 3, 4, 5]

In [62]:
nested_list = [1,"Two",3,[10,20,30]]

In [63]:
nested_list

[1, 'Two', 3, [10, 20, 30]]

In [64]:
nested_list[-1][-1]

30

## Dictionaries / Hashes

A key/value pair

In [65]:
dictionary = {'name': 'Spencer', 'job': 'Software Developer'}

In [67]:
dictionary['name']

'Spencer'

## Tuple
Same as a list, but immutable

In [21]:
t = (1,2,3,4,5)

In [22]:
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment

## Set

A collection of *unique* elements

In [70]:
s = {1,1,1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,4,5,5,5}

In [71]:
s

{1, 2, 3, 4, 5}

In [72]:
set([1,1,1,1,2,2,2,3,3,3,4,4,4,5,5])

{1, 2, 3, 4, 5, 6}

In [78]:
s.add(5)

In [79]:
s

{1, 2, 3, 4, 5}

## Boolean

`True`, `False`, and `None`

In [80]:
1 == 1

True

In [81]:
1 == 0

False

In [82]:
1 != 3

True

In [83]:
'hello' == 'world'

False

In [84]:
(1 > 3) and (2 < 5)

False

In [85]:
True or False

True

## Conditionals

In [86]:
if 10 > 5:
    print("10 is greater than 5")

10 is greater than 5

In [89]:
number = 6

if number > 5:
    print("Number is greater than 5")
else:
    print("Number is less than 5")

Number is greater than 5

In [91]:
number = 5

if number > 5:
    print("Number is greater than 5")
elif number == 5:
    print("Number is exactly 5")
else:
    print("Number is less than 5")

Number is exactly 5

## Loops

In [92]:
names = ["Alice", "Bob", "Carole", "Dave"]

for name in names:
    print(name)

Alice
Bob
Carole
Dave

In [103]:
i = 0

while i < len(names):
    print(names[i], "(I is {})".format(i))
    i += 1

Alice (I is 0)
Bob (I is 1)
Carole (I is 2)
Dave (I is 3)

In [107]:
for i in range(0, len(names)):
    print(names[i])

Alice
Bob
Carole
Dave

## List Comprehension

In [111]:
names = ["Alice", "Bob", "Carole", "Dave"]
out = []

for name in names:
    out.append(name.upper())
    
print(out)

['ALICE', 'BOB', 'CAROLE', 'DAVE']

Within a list, add the thing you want, followed by the loop...

`[function loop]`

In [112]:
[name.upper() for name in names]

['ALICE', 'BOB', 'CAROLE', 'DAVE']

## Functions

In [113]:
def add(first, second):
    return first + second

In [114]:
add(1, 3)

4

In [119]:
def greet(name):
    greeting = "Hello {}".format(name)
    return greeting

In [120]:
greet('Spencer')

'Hello Spencer'

In [122]:
def hello():
    return "Hello!"

In [123]:
hello()

'Hello!'

# Exercises!

1. Get the word `Dogs` from this list...

In [128]:
my_list = [{'animal': 'Cat', 'colour': 'Black', 'hates': ['Dogs', 'Vaccuum cleaner', 'Everyone']}, 
           {'animal': 'Horse', 'colour': 'white', 'hates': ['Loud noises']}]

2. Write a function that uses a loop to print out all the things the Cat hates. It should take one argument, the things that the cat hates as a list

3. Write a function to calculate the mean of these numbers... (The answer is 313.25). For bonus points, try writing a function to calculate the median too (The answer is 34).

In [146]:
numbers = [14,6,87,9,56,23,3,5,6,8,8,76,56,54,3,2,23,34,456,6,4534,34,34,56,767,45,43,2323]